.contacts-form
  form
    .title Остались вопросы?<br>Оставь заявку мы перезвоним!
    .form-group
      input(type='text', placeholder='Имя')
      input(type='text', placeholder='Телефон')
      textarea(placeholder='Ваше сообщение')
    button(type='submit') Отправить заявку
