.contacts-address
  .item
    .title Контакты
  .item
    .title Адрес
    .desc г. Москва, Новослободская улица, 14/19С8
  .item
    .title Телефон
    .desc +7(495)235-24-82
  .item
    .title Режим работы
    .desc Понедельник — воскресенье 10:00 – 21:00