.product-slider
  .product-slider-wrapper
    .product
      .product-item
        img(src="img/temp/product-image.png")
      .product-item
        img(src="img/temp/product-image.png")
      .product-item
        img(src="img/temp/product-image.png")
      .product-item
        img(src="img/temp/product-image.png")
    .product-nav
      .product-item
        img(src="img/temp/product-image.png")
      .product-item
        img(src="img/temp/product-image.png")
      .product-item
        img(src="img/temp/product-image.png")
      .product-item
        img(src="img/temp/product-image.png")