.product-sorting
  .container
    .row
      .col-4
        .sorting-titele Сортировать:
      .col-5
        .sorting.sorting-popular по популярности
      .col-3
        .sorting.sorting-price по цене