.products-list
  .container
    .row
      .col-sm-12.col-md-8
        .product-item
          .product-image
            img(src='img/temp/product-image.png')
          .product-name Смартфон Apple iPhone 7 32Gb
          .product-group-wrapper
            .product-price 38 500
            button.product-add-cart
      .col-sm-12.col-md-8
        .product-item
          .product-image
            img(src='img/temp/product-image.png')
          .product-name Смартфон Apple iPhone 7 32Gb
          .product-group-wrapper
            .product-price 38 500
            button.product-add-cart
      .col-sm-12.col-md-8
        .product-item
          .product-image
            img(src='img/temp/product-image.png')
          .product-name Смартфон Apple iPhone 7 32Gb
          .product-group-wrapper
            .product-price 38 500
            button.product-add-cart
      .col-sm-12.col-md-8
        .product-item
          .product-image
            img(src='img/temp/product-image.png')
          .product-name Смартфон Apple iPhone 7 32Gb
          .product-group-wrapper
            .product-price 38 500
            button.product-add-cart
      .col-sm-12.col-md-8
        .product-item
          .product-image
            img(src='img/temp/product-image.png')
          .product-name Смартфон Apple iPhone 7 32Gb
          .product-group-wrapper
            .product-price 38 500
            button.product-add-cart