.product-filter
  .filter-icon
  form
    fieldset.category
      h4.filter-title.active
        | Категории
        .arrow
      .filter-desc.open
        label
          input(type="checkbox")
          | iPhone 6
        label
          input(type="checkbox")
          | iPhone 6s
        label
          input(type="checkbox")
          | iPhone 7
        label
          input(type="checkbox")
          | iPhone X
    fieldset.price
      h4.filter-title
        | Цена
        .arrow
      .filter-desc
    fieldset.memory
      h4.filter-title
        | Объем памяти
        .arrow
      .filter-desc
        label
          input(type="checkbox")
          | 32 гб
        label
          input(type="checkbox")
          | 64 гб
        label
          input(type="checkbox")
          | 128 гб
    button.filter-reset Очистить