.product-data
  .product-price 38 500
  .product-bonus 1238
  button.product-cart Добавить в корзину
  a.product-buy(href="#") Купить в один клик
  .product-variations
    .variations.variations-color
      .variation-title Цвет:
      .variation-items
        .variant-item.black
        .variant-item.grey
        .variant-item.gold
        .variant-item.rose
        .variant-item.red
    .variations.variations-memory
      .variation-title Обьем памяти
      .variation-items
        .variant-item 32 Гб
        .variant-item.active 128 Гб
        .variant-item 256 Гб
