- var title = 'About us page'

include includes/head
body
  .page.text-page.about-us
    include blocks/header
    .content
      include blocks/main-menu
      .text-content
        .container
          .row.justify-content-center
            .col-18
              h4.title О сервисе
            .col-18
              img.img-responsive(src='http://via.placeholder.com/1000x450')
              .note CaptainGadget
              hr
            .col-18
              p CaptainGadget –  специализированный салон по всем видам технического обслуживания техники Apple: диагностика, ремонт, настройка и техническая поддержка программного обеспечения техники Apple – это то, чем наши специалисты владеют в совершенстве.
              p Впервые мы открываем двери своего салона в 2008 году. В то время основной специализацией является обслуживание портативных музыкальных плееров iPod, производство которых компания Apple начала еще в 2001 году.
              p Однако скорость развития корпорации Apple требуют и такого же темпа роста и от нас. В 2007 году первый iPhone и его обновленная версия появляются практически одновременно и производят фурор на рынке мобильных устройств связи, сочетая в себе широкий функционал, технологический прорыв и неподражаемый дизайн. Уже осенью 2008 года наш компания CaptainGadget получает для инженерного ознакомления первые модели iPhone 3g, стоит отметить, первого официально продающегося на территории РФ мобильного телефона Apple. И к концу 2008 года мы расширяем свою специализацию качественным сервисным обслуживанием мобильных устройств на базе ОС iPhone OS 3.0.
              p С 2009 и по сегодняшний день компания Apple значительно расширяет свое влияние на Российском рынке. Все больше людей становятся пользователями устройств, произведенных компанией. А наши инженеры и менеджеры повышают свою квалификацию, проходя обучающие тренинги и семинары для специалистов по обслуживанию техники корпорации Apple.
              p На сегодняшний день в нашей сети салонов CaptainGadget единый диагностический центр осуществляет квалифицированный ремонт и программную настройку любых электронных устройств корпорации Apple, даже из числа тех, что требуют более сложных ремонтно-восстановительных работ.
              p У нас вы можете совершить покупку устройств Apple или аксессуаров к ним или отдать Ваше устройство в ремонт. Благодаря сертифицированному оборудованию и комплектующим мы можем выполнить ремонт любой сложности. Так же Вы можете получить услугу экспресс-ремонта на месте. У нас есть опыт проведения срочных ремонтов в кратчайшие сроки, вплоть до времени присутствия клиента в салоне компании.
              p Вы можете воспользоваться помощью наших специалистов по настройке ПО при обращении в салон, так же мы оказываем услугу вызова инженера программной настройки для проведения работ с ПО на дому и в офисе.
              p Наша компания CaptainGadget заключает договоры на техническую поддержку с юридическими лицами, а так же проводит обучение сотрудников компаний и частных лиц обращению с устройствами и программным обеспечением любой продукции Apple.
              p По любым вопросам, связанныv с обслуживанием, ремонтом и эксплуатацией техники Apple обращайтесь к профессионалам сети салонов CaptainGadget, и все Ваши требования будут удовлетворены на высшем уровне в кратчайшие сроки.
    include blocks/footer
  script(src='js/scripts.min.js')