- var title = 'Layouts pages'

include includes/head
body
  .container
    .row
      .col-24
        br
        h1= title
      .col-24
        h2 General pages
        ul
          li
            a(href="/home.html" target="_blank") Home page
          li
            a(href="/contacts.html" target="_blank") Contacts page
          li
            a(href="/about-us.html" target="_blank") About us page
        br
        h2 Service pages
        ul
          li
            a(href="/iphone-service.html" target="_blank") iPhone service page
        br
        h2 Store pages
        ul
          li
            a(href="/products-catalog.html" target="_blank") Products catalog page
          li
            a(href="/product-details.html" target="_blank") Product details page