- var title = 'Products details page'

include includes/head
body
  .page.product-details
    include blocks/header
    .content
      include blocks/main-menu
      .container.wrapper
        .row
          .col-24
            h4.title Смартфон Apple iPhone 7 32Gb (Black)
        .row.justify-content-center.align-items-center
          .col-10
            include blocks/store/product-slider
          .col-6
            include blocks/store/product-data
      include blocks/footer