.advantages-wrapper
  h4.title 4 причины почему нам доверили более 27350 устройств
  .advantages
    .container-wrapper
      .container
        .row.align-items-center
          .col
            .item
              .icon
                .diagnostics
              .title Бесплатная диагностика
          .col
            .item
              .icon
                .guarantee
              .title Гарантия 90 дней
          .col
            .item
              .icon
                .express
              .title Экспресс-ремонт от 10 минут
          .col
            .item
              .icon
                .spare-parts
              .title Оригинальные запчасти