header
  .container
    .row.align-items-center.justify-content-sm-center
      .col-3
        .logotype
          a(href='/')
            img(src='img/logotype.png' alt='Captain Gadget')
      .col-6
        .services
          ul
            li.servis Сервисный центр
            li.mobile Интернет-магазин
            li.shield.uppercase Captain Gadget
      .col-6
        .contacts
          a.phone(href='tel:+74952352482') +7(495) <b>235-24-82</b>
          .schedule пн-вс с 10:00 до 21:00
      .col-6
        .callback.text-center
          a.call(data-toggle='modal', data-target='#exampleModalCenter') заказать обратный звонок
          span.subtitle Перезвоним за хх секунд
      .col-2
        .social-link
          ul
            li
              a(href='#')
                i.fab.fa-instagram
            li
              a(href='#')
                i.fas.fa-phone-volume
            li
              a(href='#')
                i.fab.fa-whatsapp
            li
              a(href='#')
                i.fab.fa-telegram-plane