.main-menu
  .container-fluid
    .row.justify-content-center
      .col-12
        .menu.service
          .menu-inner
            .hamburger-wrapper
              .hamburger
            h3 Сервис
          .submenu
            ul
              li Item 1
              li Item 2
              li Item 3
              li Item 4
              li Item 5
      .col-12
        .menu.store
          .menu-inner
            h3 Магазин
            .hamburger-wrapper
              .hamburger
          .submenu
            ul
              li Item 1
              li Item 2
              li Item 3
              li Item 4
              li Item 5