.partners-wrapper
  h3.title Наши партнеры
  .partners
    .container-wrapper
      .container
        .row.align-items-end
          .col
            .partner-items
              img.item(src='img/partners/vtb.png' alt='')
              img.item(src='img/partners/yota.png' alt='')
              img.item(src='img/partners/mts.png' alt='')
              img.item(src='img/partners/alfa-bank.png' alt='')
              img.item(src='img/partners/hyundai.png' alt='')
              img.item(src='img/partners/get-taxi.png' alt='')
              img.item(src='img/partners/sberbank.png' alt='')
              img.item(src='img/partners/beeline.png' alt='')