.reviews-wrapper
  h3.title Отзывы
  .reviews
    .reviews-item
      .container-wrapper
        .container
          .row
            .col-12
              .review
                .foto
                  img(src="img/temp/reviews-foto.png")
                .info
                  .name Мария
                  .comment Ребята молодцы, поменяли мне экран и взяли за работу недорого, Спасибо.
            .col-12
              .review
                .foto
                  img(src="img/temp/reviews-foto.png")
                .info
                  .name Мария
                  .comment Ребята молодцы, поменяли мне экран и взяли за работу недорого, Спасибо.
            .col-12
              .review
                .foto
                  img(src="img/temp/reviews-foto.png")
                .info
                  .name Мария
                  .comment Ребята молодцы, поменяли мне экран и взяли за работу недорого, Спасибо.
            .col-12
              .review
                .foto
                  img(src="img/temp/reviews-foto.png")
                .info
                  .name Мария
                  .comment Ребята молодцы, поменяли мне экран и взяли за работу недорого, Спасибо.

    .reviews-item
      .container-wrapper
        .container
          .row
            .col-12
              .review
                .foto
                  img(src="img/temp/reviews-foto.png")
                .info
                  .name Мария
                  .comment Ребята молодцы, поменяли мне экран и взяли за работу недорого, Спасибо.
            .col-12
              .review
                .foto
                  img(src="img/temp/reviews-foto.png")
                .info
                  .name Мария
                  .comment Ребята молодцы, поменяли мне экран и взяли за работу недорого, Спасибо.
            .col-12
              .review
                .foto
                  img(src="img/temp/reviews-foto.png")
                .info
                  .name Мария
                  .comment Ребята молодцы, поменяли мне экран и взяли за работу недорого, Спасибо.
            .col-12
              .review
                .foto
                  img(src="img/temp/reviews-foto.png")
                .info
                  .name Мария
                  .comment Ребята молодцы, поменяли мне экран и взяли за работу недорого, Спасибо.
