.secondary-menu
  .container
    .row.justify-content-center
      .col-24
        ul.items-menu
          li
            a.item(href='#') Ремонт iPhone
          li
            a.item(href='#') Ремонт iPad
          li
            a.item(href='#') Ремонт MacBook
          li
            a.item(href='#') Ремонт iMac
          li
            a.item(href='#') Ремонт Apple Watch
          li
            a.item(href='#') Ремонт Mac Mini
          li
            a.item(href='#') Ремонт MacPro
          li
            a.item(href='#') Ремонт AppleTV