.service-wrapper.service-iphone
  .service
    .container
      .row
        .col-9
          h4.title Срочный ремонт техники Apple в Москве
          .subtitle В сертифицированном сервисном центре с гарантией, бесплатной диагностикой, оригинальными запчастями и ремонтом от 10 минут, мы предлагаем восстановление практически любых устройств Apple:
          ul.list-devices
            li.item-device.iphone iPhone
            li.item-device.ipad iPad
            li.item-device.imac iMac
            li.item-device.macbook MacBook
            li.item-device.macmini MacMini
            li.item-device.apple-watch Apple Watch
            li.item-device.apple-tv Apple TV
            li.item-device.macpro Mac Pro
          a.call-master Вызвать мастера
      .bottom-line