.tabs__wrap
    h2 Экран
    table.table
        thead
            th Вид работ
            th Стоимость
        tbody
            tr
                td Чистка сетки динамика
                td 3000 ₽
            tr
                td Чистка сетки динамика
                td 3000 ₽
            tr
                td Чистка сетки динамика
                td 3000 ₽
            tr
                td Чистка сетки динамика
                td 3000 ₽
            tr
                td Чистка сетки динамика
                td 3000 ₽
            tr
                td Чистка сетки динамика
                td 3000 ₽

