.slider-wrapper
  .slider
    .slider-item
      .slide-wrapper
        .container
          .row
            .col-16
              .title
                h3 При покупке  Iphone X 256gb <br> Пакет Офис/Бизнес и программное обеспечение iOS в подарок
              .button
                a.more-info Подробнее
            .col-8
              .image
                img(src='img/iphone-x.png')

    .slider-item
      .slide-wrapper
        .container
          .row
            .col-16
              .title
                h3 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam debitis dicta dolores ea eligendi ipsum necessitatibus repudiandae? Deleniti eius ex expedita ullam? A ad autem eveniet quam sequi velit voluptatum.
              .button
                a.more-info Подробнее
            .col-8
              .image
                img(src='img/iphone-x.png')
    .slider-item
      .slide-wrapper
        .container
          .row
            .col-16
              .title
                h3 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti dolorum mollitia nisi optio! Asperiores ducimus fugiat, fugit odit praesentium quidem!
              .button
                a.more-info Подробнее
            .col-8
              .image
                img(src='img/iphone-x.png')
